table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

table, th, td {
    border: 1px solid whitesmoke;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #303030;
    font-weight: bold;
}

tr {
    background-color: #383838;
}

tr:nth-child(even) {
    background-color: #404040;
}